body {
  /* background-color: rgb(68 64 60 / var(--tw-bg-opacity, 1)); */
  background-color: rgb(68 64 60 / var(--tw-bg-opacity, 1));
}

.btn {
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  /* padding: 20px 20px; */
  padding: 0 0.5em;
  border: 1px solid black;
  /* height: 60px; */
  /* width: 60px; */
}
.btn:hover {
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  /* padding: 20px 20px; */
  padding: 0 0.5em;
  border: 1px solid white;
  /* height: 60px; */
  /* width: 60px; */
}

.btn2 {
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  /* padding: 20px 20px; */
  padding: 0 1em;
  border: 1px solid black;
  /* height: 60px; */
  /* width: 60px; */
}

.zorbit {
  font-size: 2rem /* 24px */;
  line-height: 3rem /* 32px */;
}
.norbit {
  margin-left: 4rem;
}
.plorbit {
  /* translate: var(--tw-translate-x) 5px; */
  transform: skewX(1deg) skewY(1deg);
}
.slabby {
  margin-left: 8.5rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
