body {
  /* background-color: rgb(68 64 60 / var(--tw-bg-opacity, 1)); */
}

.btn {
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0 2em;
  border: 1px solid red;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
