body {
  /* background-color: rgb(68 64 60 / var(--tw-bg-opacity, 1)); */
}

.btn {
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 20px 20px;
  /* padding: 0 1em; */
  border: 1px solid black;
  /* height: 60px; */
  /* width: 60px; */
}

.btn2 {
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  /* padding: 20px 20px; */
  padding: 0 1em;
  border: 1px solid black;
  /* height: 60px; */
  /* width: 60px; */
}

.zorbit {
  font-size: 3rem /* 24px */;
  line-height: 4rem /* 32px */;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
